.film-item-show-mode, .film-item-edit-mode {
  border: solid 1px black;
  box-shadow: 10px 10px 5px #888888;
  background-color: #FFE300;
}

.film-item-wrapper {
  margin-bottom: 20px;
}

form > * {
  display: block;
  width: 200px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

form > textarea {
  height: 100px;
}

.back.film-item-edit-mode {
  width: 220px;
  left: 38%;
}

.submit-btn {
  background-color: mediumseagreen;
}

.cancel-btn {
  background-color: lightgray;
}

.delete-btn {
  background-color: lightcoral;
}

/* Code below was adapted from https://davidwalsh.name/css-flip */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container.flip .flipper {
  margin-left: -7.5px;
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 98%;
  height: 300px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}